<div id="map_canvas" ng-controller="mainCtrl">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
    <ui-gmap-marker coords="marker.coords"  idkey="marker.id">
        </ui-gmap-marker>
      </ui-gmap-google-map>
</div>

<div class="container">

    <div class="row">
      <h3>Contact Us</h3>

        <form name="email_form" method="post" action="contact.php" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">person_pin</i>
                    <input name="first_name" id="first_name" type="text" class="validate" required>
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input name="last_name" id="last_name" type="text" class="validate" required="">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    <input name="cell" id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Cell Phone</label>
                </div>

                <div class="input-field col s6">
                    <input name="work" id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Work Phone</label>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input name="email" id="email" type="email" class="validate" required="">
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">message</i>
                    <textarea name="message" id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Enter your message here</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light blue-grey darken-4 right" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>

</div>
